/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px 0;
    text-align: center;
}

.bold-header {
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}

#carouselExampleIndicators img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 30px; /* Menambah ukuran ikon */
    text-decoration: none;
    transition: color 0.3s, transform 0.3s; /* Transisi halus */
}

/* Spotify Playlist Styles */
.spotify-iframe {
    width: 100%;
    max-width: 800px;
    height: 380px;
    margin: 0 auto;
}

.social-icons a:hover {
    color: #e1306c; /* Warna merah muda khas Instagram */
    transform: scale(1.2); /* Membesar sedikit saat hover */
}